/* Global Settings */

html,
body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: 'Poppins';
  background-color: #f0f8ff;
  color: #333;
}

/* Heading */

h1{
  padding-left: 4vw;
}

/* Unorded List */

ul {
  list-style-type: none;
  text-align: left;
  width: 40vw;

}

li {
  background-color: #ffffff; 
  border: 1px solid #dcdcdc; 
  margin: 10px 0;
  padding: 10px;
  border-radius: 16px;
}

/* Links */

a{
  color: #de00aa; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
