html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #efcdd7;
  text-align: center;
}

ul{
  list-style-type: none;
  text-align: left;
}

a{
  color: rgb(164, 28, 117);
}

